<div id="appContainer">

<div id="header">
  <!-- <span class="appTitle">&nbsp;{{title}}</span> -->`
  <div class="appTitle">&nbsp;{{title}}</div>
  <!-- <div class="creating"></div> -->


  <!-- testing -->
     <!-- <button (click)="emptyCache()">Empty cache</button>    -->

<!-- ANIMATED PROGRESS BAR - DEMO -->
<!--
<div class="progress-cont">
  <div class="progress"></div>
</div>
<br/>
-->

</div> <!-- #header -->

<!-- <div id="gridsection"> -->
<!--
Sudoku grid based on
- 3 rows and 3 columns of boxes
- within each of the 9 boxes
    - 3 rows and 3 columns of cells
- total of 81 cells
Sudoku model is based on 9 rows and 9 columns of cells
s: sudoku, b: box, c: cell, v: value, k: candidate
 -->
<!-- <div id="gridsection">
 <div class="pcell" (keyup)="handleKeyPress($event)" 
    oncontextmenu="return false;" tabindex="1"> -->
<div id="gridsection" (keyup)="handleKeyPress($event)" 
    oncontextmenu="return false;" tabindex="1">
  <div class="bcontainer">
    <div *ngFor="let vb of [0,1,2,3,4,5,6,7,8]"> <!-- 9 value boxes -->
      <!-- <div class="bcell"> -->
        <div class="scontainer">
          <div *ngFor="let vc of [0,1,2,3,4,5,6,7,8]">  <!-- 81 value cells -->
            <div class="scell" [ngSwitch]="hasValue(vb, vc)"
                [ngClass]="{
                  'selected': isSelectedCell(vb, vc)}"
                (mousedown)="handleCellClick($event, vb, vc)">
            
              <!-- opt 1: value -->  <!-- span -->
              <div *ngSwitchCase="true" class="value"
                [ngClass]="{
                  'locked':   isCellLocked_(vb, vc),
                  'invalid':  isCellInvalid(vb, vc),
                  'incorrect': isValueIncorrect(vb, vc)}">
                {{valueToChar_(vb, vc)}}
              </div>
              <!-- end opt 1 -->

              <!-- opt 2: candidates -->
              <div *ngSwitchCase="false" class="kcontainer">
                <div *ngFor="let k of [1,2,3,4,5,6,7,8,9]"> <!-- 729 candidates (81x9) -->
                  <div class="kcell" 
                      (dblclick)="handleCandidateClick(vb, vc, k)">
                    <span class="candidate"
                        [hidden]="!candidatesShowing || !candidatesVisible_(k)">
                      {{candToChar_(vb, vc, k)}}
                    </span>
                  </div> <!-- kcell -->
                </div> <!-- *ngFor -->
              </div> <!-- kcontainer -->
              <!-- end opt 2 -->

            </div> <!-- scell -->
          </div> <!-- *ngFor c -->
        </div> <!-- scontainer -->
      <!-- </div> --> <!-- bcell -->
    </div> <!-- *ngFor b -->
  </div> <!-- bcontainer -->
<!--</div> <!-- pcell -->

</div> <!-- id="gridsection" -->

<div id="controls" class="exec-text">
  
  <div [ngSwitch]="playState">

    <!-- ========== play-new ========== -->
    <div *ngSwitchCase="PlayStates.NEW">

      <p>Select a new Sudoku:</p>

      <button *ngIf="easyAvailable" (click)="generate(0)" class="diff easy">
        <!-- tooltip="Solvable finding naked or hidden singles"> -->
        Easy</button>
      <button *ngIf="!easyAvailable" class="diff easy strike">
        <!-- tooltip="Loading ..."> -->
        Easy</button>
      &nbsp;

      <button *ngIf="mediumAvailable" (click)="generate(1)" class="diff medium">
        <!-- tooltip="Solvable finding naked pairs, pointing rows/columns, and box reductions"> -->
        Medium</button>
      <button *ngIf="!mediumAvailable" class="diff medium strike">
        <!-- tooltip="Loading ..."> -->
        Medium</button>
      &nbsp;

      <button *ngIf="hardAvailable" (click)="generate(2)" class="diff hard">
        <!-- tooltip="Solvable finding naked triples/quads or hidden pairs/triples"> -->
        Hard</button>
      <button *ngIf="!hardAvailable" class="diff hard strike">
        <!-- tooltip="Loading ..."> -->
        Hard</button>
      &nbsp;

      <button *ngIf="hardestAvailable" (click)="generate(3)" class="diff hardest">
        <!-- tooltip="Solvable using more advanced techniques or guessing"> -->
        Hardest</button>
      <button *ngIf="!hardestAvailable" class="diff hardest strike">
        <!-- tooltip="Loading ..."> -->
        Hardest</button>
      <!-- <br/> -->

      <!-- SAVE these tests -->
      <!--<br/><br/><br/><br/><br/>
      <p>-->
        <!--<span class="metalabel">Testing:</span><br/>-->
        <!--<button (click)="testNakedTriple()">Test Naked Triple</button><br/>-->

        <!--<button (click)="testHiddenPair()">Test Hidden Pair</button><br/>-->
        <!--<button (click)="testHiddenTriple()">Test Hidden Triple</button><br/>-->
        <!--<button (click)="testHiddenQuad()">Test Hidden Quad</button><br/>-->
        
        <!--<button (click)="testSimple()">Test Simple</button><br/>-->
        <!--<button (click)="testEasy()">Test Easy</button><br/>-->
        <!--<button (click)="testMedium_1NP()">Test Medium_1NP</button><br/>-->
        <!--<button (click)="testHard_1NP_3P_1G()">Test Hard_1NP_3P_1G</button><br/>-->
        <!--<button (click)="testHard_3NP_1P_4G()">Test Hard_3NP_1P_4G</button><br/>-->
        <!--<button (click)="testGuess()">Test Guess</button><br/>
        <button (click)="testNakedPairBoxRow()">Test Naked Pair Box & Row @14,15</button><br/>
        <button (click)="testPointingRow()">Test Pointing Row</button><br/>
        <button (click)="testPointingCol()">Test Pointing Col</button><br/>
        <button (click)="testRowBoxReduction()">Test Row-Box Reduction</button><br/>
        <button (click)="testColBoxReduction()">Test Col-Box Reduction</button><br/>
        <button (click)="testHiddenPairsRow()">Test Hidden Pairs Row</button>-->
      <!--</p>-->

      <!--<div [ngBusy]="busy"></div>-->
      
    </div>  <!-- *ngSwitchCase="PlayStates.NEW" -->

    <!-- ========== play-new ========== -->
    <div *ngSwitchCase="PlayStates.CREATING">

      <p>Creating A Sudoku ...</p>

    </div>  <!-- *ngSwitchCase="PlayStates.CREATING" -->

    <!-- ========== play-execute ========== -->
    <div *ngSwitchCase="PlayStates.EXECUTE" (keyup)="handleKeyPress($event)">

      <div class="controlsRow cRow01">
        Difficulty: {{actualDifficulty}} &nbsp;&nbsp;&nbsp; Elapsed time: {{elapsedTime}}
      </div>

      <div class="controlsRow cRow02">
        <button *ngIf="!candidatesShowing" class="exec start" 
            (click)="toggleCandidates()">
            <!-- tooltip="Display the candidates in open cells"> -->
            Show candidates</button>
        <button *ngIf="candidatesShowing" class="exec stop" 
            (click)="toggleCandidates()">
            <!-- tooltip="Hide the candidates in open cells"> -->
            Hide candidates</button>
        <span [hidden]="!candidatesShowing">
          <span *ngFor="let k of [1,2,3,4,5,6,7,8,9]" class="cands">
            <button class="general" (click)="candidateVisible(k)">
                <!-- tooltip="Show only candidate {{k}}"> -->
                {{k}}</button>
          </span>
        </span>
      </div>

      <div class="controlsRow cRow03">
        <button *ngIf="candidatesModified" 
            class="general" 
            (click)="refreshCandidates()">
            <!-- tooltip="Candidates have been manually removed -- this will restore them"> -->
            Refresh candidates
        </button>
        <button *ngIf="!candidatesModified" 
            class="placeHolder">
            Place Holder
        </button>
      </div>

      <div class="controlsRow cRow04">
        <div [ngSwitch]="hintState">
          <button *ngSwitchCase="hintStates.READY" 
              class="exec start" 
              (click)="handleHintClick()">
              <!-- tooltip="Suggest a valid move"> -->
              Get hint</button>
          <button *ngSwitchCase="hintStates.ACTIVE"
              class="exec stop" 
              (click)="handleHintClick()">
              <!-- tooltip="Automatically execute the suggested move"> -->
              Apply hint</button>
          {{hintMessage}}              
        <span *ngSwitchCase="hintStates.NO_HINT">
          No hint available              
        </span>
        </div>
      </div>

      <div class="controlsRow cRow05">
        <!-- not using for now
        <div [ngSwitch]="autoSolveState">
          <button *ngSwitchCase="autoSolveStates.READY" 
              class="exec start" (click)="handleAutoSolveClick()">
              <!-- tooltip="Automatically solve the sudoku using hints">
              Auto solve start</button>
          <button *ngSwitchCase="autoSolveStates.RUNNING
              || autoSolveStates.PENDING_STOP" 
              class="exec stop" (click)="handleAutoSolveClick()">
              <!-- tooltip="Stop the action">
              Auto solve stop</button>
          <span *ngSwitchCase="autoSolveStates.NO_HINT
              || autoSolveStates.PENDING_STOP">
              Auto solve not available</span>
        </div>
        -->
        <div>
          <button *ngIf="autoFinish && candidatesShowing" 
              class="exec start" (click)="handleAutoFinishClick()">
              <!-- tooltip="Automatically solve the sudoku using hints"> -->
              Auto finish</button>
        </div>
      </div>

      <div class="controlsRow cRow06">
      </div>

      <div class="controlsRow cRow07">
        Value picker for selected cell:
        <div class="vcontainer">
          <div class="vcell" *ngFor="let v of [1,2,3,4,5,6,7,8,9]"
              (mousedown)="handleChoiceClick(v)">
            <span [ngClass]="{'dim': isValueComplete(v)}">{{v}}</span>
          </div>
          <div class="vcell vclear" (mousedown)="handleChoiceClearClick()">
            Clear
          </div>
        </div>
      </div>

      <div class="controlsRow cRow08">
        Action Log:
        <button [hidden]="actionLog === ''" class="general"
                (click)="undoLastAction()">Undo Last Action</button>
      </div>

      <div class="controlsRow cRow09">
        <textarea [ngModel]="actionsLog"></textarea>
      </div>

      <div class="controlsRow cRow10">
         <button class="general" (click)="restartCurrentPuzzle()">
            <!-- tooltip="Start over on same sudoku"  -->
            <!-- placement="bottom"> -->
            Restart sudoku</button>&nbsp;
        <button class="general" (click)="startNewPuzzle()">New sudoku</button> 
      </div>

      <div class="controlsRow cRow011">
      </div>

      <div class="controlsRow cRow012">
        Instructions:
          <textarea>
- Resize your browser window as desired to see everything.
- Click on a cell to select it.
- Use number keys to set a value in the selected cell.
- Or use a mouse click on the 1 to 9 & Clear "Value Picker".
- A zero key or Clear will remove the selected cell's value.
- When candidates are showing, double click to remove one.
- Try out other buttons.
        </textarea> 
      </div>

      <!-- <p>
        <span>Solution Clues:</span><br/>
        <textarea [ngModel]="solutionClues" rows="5" cols="55"></textarea>
        <textarea [ngModel]="solutionClues"></textarea>
      </p> -->

      <!-- <p> -->
      <!-- <table class="clues">
      <tr>   
        <td>     
        <button *ngIf="!cluesShowing" class="exec start" 
            (click)="toggleClues()"
            tooltip="Show clues to this sudoku">
            Show clues</button>
        <button *ngIf="cluesShowing" class="exec stop" 
            (click)="toggleClues()"
            tooltip="Hide clues to this sudoku">
            Hide clues</button>
        </td>
        <td class="clues">
         <textarea [hidden]="!cluesShowing" class="clues">{{solutionClues}}</textarea> 
        </td>
      </tr>
      </table> -->
      <!-- </p> -->

    </div>  <!-- *ngSwitchCase="PlayStates.EXECUTE" -->

    <!-- ========== play-solved ========== -->
    <div *ngSwitchCase="PlayStates.SOLVED" class="exec-text">

      <p>{{actualDifficulty}} SOLVED!</p>

      <p>Elapsed time: {{elapsedTime}}</p>

      <p>Hints viewed/applied: {{hintsViewed}}/{{hintsApplied}}</p>

      <p>
        <button class="general" (click)="restartCurrentPuzzle()">
            <!-- tooltip="Start over on same sudoku"  -->
            <!-- placement="top"> -->
            Restart sudoku</button>&nbsp;
        <button class="general" (click)="startNewPuzzle()">
            <!-- tooltip="Get a new sudoku"  -->
            <!-- placement="top"> -->
            New sudoku</button>
      </p>

      <p>Action log:<br/>
        <textarea [ngModel]="actionsLog" rows="30" cols="55"></textarea>
      </p>
    </div>  <!-- *ngSwitchCase="playStates.SOLVED" -->

  </div>  <!-- [ngSwitch]="playState" --> 

</div> <!-- id="controls" -->

<div id="footer">
  {{version}}<span class="tab">{{copyright}}</span>
</div>

</div> <!-- id="appContainer" -->
