$white:  #ffffff;  // white
$gray1:  #cccccc;
$gray2:  #808080;  //gray
$tan1:   #ffebcc;
$tan2:   #ffdead;  // navajowhite
$black:  #000000;  // black
$red1:   #ffcccc;
$red2:   #ff4d4d;
$red3:   #ff0000;  // red
$green1: #00ff00;
$green2: #00cc00;
$green3: #009900;  // xgreen
$blue1:  #4d4dff;
$blue2:  #0000ff;  // blue


html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

.exec-text {
  font-size: 16px;
  color: $blue2;
}

button {
  border: none;
  border-radius: 5px;
  color: $white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

button.diff { width: 80px;}
button.easy    { background-color: $white; color: $black; }
button.medium  { background-color: $green3; } 
button.hard    { background-color: $blue2; } 
button.hardest { background-color: $red3; }

button.exec { width: 140px; }
button.start   { background-color: $green2; } 
button.stop    { background-color: $red2 }

button.general { background-color: $blue1; }

cands { margin-left: 1px; }



span.appTitle {
  float: left;
  font-size: 30px;
  font-weight: bold;
  color: $green2;
  line-height: 60px;
}
span.appVersion {
  float: left;
  font-size: 10px;
  line-height: 75px;
}

.sGrid {    /* 1 */
  display: table;
  border: 2px solid $black;
  background-color: $tan1;
}
.bRow {     /* 3/grid */
  display: table-row;
}
.box {      /* 3/boxrow, 9/grid */
  display: table-cell;
  float: left;
  border: 2px solid $gray2;
}
.sRow {     /* 3/box, 9/grid */
  display: table-row;
}
.sCell {    /* 3/gridrow, 9/box, 81/grid */
  display: table-cell;
  float: left;
  height: 66px;
  width:  66px;
  border: 1px solid $gray1;
  margin: -1px -1px -1px -1px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: $green3;
}
.sCell.locked {
  color: $black;
}
.sCell.selected {
  background-color: $green1;
}
.sCell.invalid {
  background-color: $red1;
  color: $red3;
}
.value {
  line-height: 66px;
  cursor: default;
}

.kGrid {
  display: table;
}
.kRow {
  display: table-row;
}
.kCell {
  display: table-cell;
  float: left;
  height: 22px; /* 21 w/border */
  width:  22px;
  margin-right: -1px;
  text-align: center;
  font-size: 15px;
  /*border: 1px solid pink; */
}
.candidate {
  line-height: 22px;  /* better for numbers instead of vertical-align */
  /*color: white;*/   /* disappearing ink */
  cursor: default;
  color: $gray2;
}
/*.candidate.show {
  color: gray;
}*/
td.dim {
  /*color: #b8b8b8;*/   /* a light gray */ 
  color: $gray2;		/* a light gray */
}
#gridsection {
  clear: left;
  float: left;
}
#controls {
  float: left;
  padding-left: 15px;
  font-size: 16px;
}
.metalabel {
  font-weight: bold;
}
/*.metadata {
}*/
textarea {
  font-family: monospace;
  font-size: 9px;
  background-color: $tan1;
}

.val-table {
  display: table;
  width: auto;
  text-align: center;
  font-size: 18px;
  background-color: $tan1;
  border: 2px solid $black;
  /*border-spacing: 5px;*/
  /*cellspacing:poor IE support for  this*/
  /* border-collapse: separate;*/
}
.val-row {
  display: table-row;
  /*width: auto;*/
}
.val-cell {
  float: left;  /*fix for  buggy browsers*/
  display: table-column;
  height: 30px;
  width:  40px;
  border: 1px solid $black;
  margin: -1px -1px -1px -1px;
}
.dim {
  color: $gray1;
}
.val-val {
  line-height: 30px;
  cursor: default;
}
.clear-row{
  display: table-row;
  /*width: auto;*/
}
.clear-cell {
  /*float: left;  /*fix for  buggy browsers*/
  display: table-cell;
  width: auto;
  height: 30px;
  text-align: center;
  border-top: 1px solid $black;
  margin: -1px -1px -1px -1px;
}
.clear-val {
  line-height: 30px;
  text-align: center;
  cursor: default;
}

// progress bar
$progress-width: 590px;
$progress-height: 10px;
@keyframes running {
    0%   {left: 0;}
    50%  {left: $progress-width - $progress-height;}
    100%   {left: 0;}
}
.progress-cont {
    position: relative;
    width: $progress-width;
    height: $progress-height;
    background-color: $tan1;
    margin-top: 1em;
    .progress {
        position: absolute;
        width: $progress-height;
        height: 100%;
        background-color: $green3;
        animation-name: running;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
}

footer {
    clear: both;
    // padding-top: 10px;
}
