span.appTitle {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #7db223;
    line-height: 60px;
}
span.appVersion {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 75px;
}

div.menu {
    float: left;
    padding-top: 17px;
    padding-left: 40px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.menu {
    float: left;
}
/*a.menu:link, a.menu:visited {*/
a.menu, a.menu:visited {
    display: block;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
/*    background-color: #98bf21;*/
    background-color: #7db223;
    text-align: center;
    padding: 4px;
    text-decoration: none;
/*    text-transform: uppercase;*/
}
a.menu:hover, a.menu:active {
    background-color: #7A991A;
}

// progress bar
$progress-width: 590px;
$progress-height: 10px;
@keyframes running {
    0%   {left: 0;}
    50%  {left: $progress-width - $progress-height;}
    100%   {left: 0;}
}
.progress-cont {
    position: relative;
    width: $progress-width;
    height: $progress-height;
    background-color: rgb(200, 200, 200);
    margin-top: 1em;
    .progress {
        position: absolute;
        width: $progress-height;
        height: 100%;
        background-color: green;
        animation-name: running;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
}

footer {
    clear: both;
    padding-top: 10px;
}
