.sGrid {    /* 1 */
  display: table;
  border: 2px solid black;
  background-color: #ffebcc;
}
.bRow {     /* 3/grid */
  display: table-row;
}
.box {      /* 3/boxrow, 9/grid */
  display: table-cell;
  float: left;
  border: 2px solid gray;
}
.sRow {     /* 3/box, 9/grid */
  display: table-row;
}
.sCell {    /* 3/gridrow, 9/box, 81/grid */
  display: table-cell;
  float: left;
  height: 66px;
  width:  66px;
  border: 1px solid #bfbfbf;
  margin: -1px -1px -1px -1px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: green;
}
.sCell.locked {
  color: black;
}
.sCell.selected {
  background-color: #cefdce; /* very light green */
}
.sCell.invalid {
  background-color: #ffe5e5; /* very light red */
  color: red;
}
.value {
  line-height: 66px;
  cursor: default;
}

.kGrid {
  display: table;
}
.kRow {
  display: table-row;
}
.kCell {
  display: table-cell;
  float: left;
  height: 22px; /* 21 w/border */
  width:  22px;
  margin-right: -1px;
  text-align: center;
  font-size: 15px;
  /*border: 1px solid pink; */
}
.candidate {
  line-height: 22px;  /* better for numbers instead of vertical-align */
  /*color: white;*/   /* disappearing ink */
  cursor: default;
  color: gray;
}
/*.candidate.show {
  color: gray;
}*/
td.dim {
  /*color: #b8b8b8;*/   /* a light gray */ 
  color: #cccccc;		/* a light gray */
}
#gridsection {
  clear: left;
  float: left;
}
#controls {
  float: left;
  padding-left: 15px;
  font-size: 16px;
}
.metalabel {
  font-weight: bold;
}
/*.metadata {
}*/
textarea {
  font-family: monospace;
  font-size: 9px;
  background-color: #ffebcc;
}

.val-table {
  display: table;
  width: auto;
  text-align: center;
  font-size: 15px;
  background-color: #ffebcc;
  border: 2px solid black;
  background-color: #ffebcc;
  /*border-spacing: 5px;*/
  /*cellspacing:poor IE support for  this*/
  /* border-collapse: separate;*/
}
.val-row {
  display: table-row;
  /*width: auto;*/
}
.val-cell {
  float: left;  /*fix for  buggy browsers*/
  display: table-column;
  height: 30px;
  width:  40px;
  border: 1px solid black;
  margin: -1px -1px -1px -1px;
}
.val-val {
  line-height: 30px;
  cursor: default;
}
.clear-row{
  display: table-row;
  /*width: auto;*/
}
.clear-cell{
  /*float: left;  /*fix for  buggy browsers*/
  display: table-cell;
  width: auto;
  height: 30px;
  text-align: center;
  border-top: 1px solid black;
  margin: -1px -1px -1px -1px;
}
.clear-val {
  line-height: 30px;
  text-align: center;
  cursor: default;
}

