<div class="container-fluid">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-sm-7 nopadding" style="background-color:lavender;">
      <h2>{{title}}</h2>
      <div>
        Grid
  <div class="ttable">
    <div class="ttable-row" *ngFor="let kr of [0,1,2]">
      <!--
      <div class="ttable-cell" *ngFor="let kc of [0,1,2]">
        <div class="tcontent">1</div>
      </div>  
      -->
<div class="square-box" *ngFor="let kr of [0,1,2]">
    <div class="square-content"><div><span>8</span></div></div>
</div>

    </div>
  </div>

      <div>
        <span class="text-left">{{copyright}}</span>
        <span class="text-right">{{version}}</span>
      </div>

    </div>
    <div class="col-sm-5" style="background-color:lavenderblush;">
      .col-sm-5
    <div>
  </div>
</div>
